.widget-box{
    font-family: Arial, Verdana, Geneva, Lucida, 'lucida grande', helvetica, sans-serif;

}

.widget-color-blue>.widget-header {
    background: #307ECC;
    border-color: #307ECC;
    color: #FFF;
}
.widget-color-blue .text{
    font-size: 14px;
    font-weight: bold;
}
.widget-color-blue .widget-body {
    border-color: #307ECC !important;
    border-top: 0;
    background-color: #FFF;
}
.widget-color-blue .time{
    font-size: 11px;
    font-style: italic;
}
.widget-body a{
  text-decoration: none;
}

.btn {
    display: inline-block;
    color: #FFF !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
    background-image: none !important;
    border: 5px solid #FFF;
    border-radius: 0;
    box-shadow: none !important;
    -webkit-transition: all ease .15s;
    transition: all ease .15s;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
    position: relative
}

.btn-lg {
    border-width: 5px;
    line-height: 1.35;
    padding: 7px 16px
}

.btn-sm {
    border-width: 4px;
    font-size: 13px;
    padding: 4px 9px;
    line-height: 1.39
}

.btn-xs {
    border-width: 3px
}


.line-height-1 {
    line-height: 1 !important
}

.bigger-110 {
    font-size: 110%
}

.bigger-120 {
    font-size: 120%
}

.bigger-130 {
    font-size: 130%
}

.bigger-140 {
    font-size: 140%
}

.bigger-150 {
    font-size: 150%
}

.bigger-160 {
    font-size: 160%
}

.bigger-170 {
    font-size: 170%
}

.bigger-180 {
    font-size: 180%
}

.bigger-190 {
    font-size: 190%
}

.bigger-200 {
    font-size: 200%
}

.bigger-210 {
    font-size: 210%
}

.bigger-220 {
    font-size: 220%
}

.bigger-230 {
    font-size: 230%
}

.bigger-240 {
    font-size: 240%
}

.bigger-250 {
    font-size: 250%
}

.bigger-260 {
    font-size: 260%
}

.bigger-270 {
    font-size: 270%
}

.bigger-280 {
    font-size: 280%
}

.bigger-290 {
    font-size: 290%
}

.bigger-300 {
    font-size: 300%
}

.bigger-125 {
    font-size: 125%
}

.bigger-175 {
    font-size: 175%
}

.bigger-225 {
    font-size: 225%
}

.bigger-275 {
    font-size: 275%
}

.smaller-90 {
    font-size: 90%
}

.smaller-80 {
    font-size: 80%
}

.smaller-70 {
    font-size: 70%
}

.smaller-60 {
    font-size: 60%
}

.smaller-50 {
    font-size: 50%
}

.smaller-40 {
    font-size: 40%
}

.smaller-30 {
    font-size: 30%
}

.smaller-20 {
    font-size: 20%
}

.smaller-75 {
    font-size: 75%
}
.btn.btn-app {
    display: inline-block;
    min-width: 100px;
    font-size: 18px;
    font-weight: normal;
    color: #FFF;
    text-align: center;
    text-shadow: 0 -1px -1px rgba(0, 0, 0, 0.2) !important;
    border: 0;
    border-radius: 12px;
    padding: 12px 0 8px;
    margin: 2px;
    line-height: 1.7;
    position: relative;
    min-height: 50px;
}

.btn-app, .btn-app.btn-default, .btn-app.no-hover:hover, .btn-app.btn-default.no-hover:hover, .btn-app.disabled:hover, .btn-app.btn-default.disabled:hover {
    background: #b4c2cc !important;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#bcc9d5), to(#abbac3)) !important;
    background-image: -webkit-linear-gradient(top, #bcc9d5, 0%, #abbac3, 100%) !important;
    background-image: -moz-linear-gradient(top, #bcc9d5 0, #abbac3 100%) !important;
    background-image: linear-gradient(to bottom, #bcc9d5 0, #abbac3 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbcc9d5', endColorstr='#ffabbac3', GradientType=0) !important
}

.btn-app:hover, .btn-app.btn-default:hover {
    background: #9baebc !important;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#a3b5c5), to(#93a6b2)) !important;
    background-image: -webkit-linear-gradient(top, #a3b5c5, 0%, #93a6b2, 100%) !important;
    background-image: -moz-linear-gradient(top, #a3b5c5 0, #93a6b2 100%) !important;
    background-image: linear-gradient(to bottom, #a3b5c5 0, #93a6b2 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa3b5c5', endColorstr='#ff93a6b2', GradientType=0) !important
}

.btn-app.btn-primary, .btn-app.btn-primary.no-hover:hover, .btn-app.btn-primary.disabled:hover {
    background: #2a8bcc !important;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#3b98d6), to(#197ec1)) !important;
    background-image: -webkit-linear-gradient(top, #3b98d6, 0%, #197ec1, 100%) !important;
    background-image: -moz-linear-gradient(top, #3b98d6 0, #197ec1 100%) !important;
    background-image: linear-gradient(to bottom, #3b98d6 0, #197ec1 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b98d6', endColorstr='#ff197ec1', GradientType=0) !important
}

.btn-app.btn-primary:hover {
    background: #1d6fa6 !important;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#267eb8), to(#136194)) !important;
    background-image: -webkit-linear-gradient(top, #267eb8, 0%, #136194, 100%) !important;
    background-image: -moz-linear-gradient(top, #267eb8 0, #136194 100%) !important;
    background-image: linear-gradient(to bottom, #267eb8 0, #136194 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff267eb8', endColorstr='#ff136194', GradientType=0) !important
}

.btn-app.btn-info, .btn-app.btn-info.no-hover:hover, .btn-app.btn-info.disabled:hover {
    background: #68adde !important;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#75b5e6), to(#5ba4d5)) !important;
    background-image: -webkit-linear-gradient(top, #75b5e6, 0%, #5ba4d5, 100%) !important;
    background-image: -moz-linear-gradient(top, #75b5e6 0, #5ba4d5 100%) !important;
    background-image: linear-gradient(to bottom, #75b5e6 0, #5ba4d5 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff75b5e6', endColorstr='#ff5ba4d5', GradientType=0) !important
}

.btn-app.btn-info:hover {
    background: #3f96d4 !important;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#4a9ede), to(#348dc9)) !important;
    background-image: -webkit-linear-gradient(top, #4a9ede, 0%, #348dc9, 100%) !important;
    background-image: -moz-linear-gradient(top, #4a9ede 0, #348dc9 100%) !important;
    background-image: linear-gradient(to bottom, #4a9ede 0, #348dc9 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4a9ede', endColorstr='#ff348dc9', GradientType=0) !important
}

.btn-app.btn-success, .btn-app.btn-success.no-hover:hover, .btn-app.btn-success.disabled:hover {
    background: #86b558 !important;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#8ebf60), to(#7daa50)) !important;
    background-image: -webkit-linear-gradient(top, #8ebf60, 0%, #7daa50, 100%) !important;
    background-image: -moz-linear-gradient(top, #8ebf60 0, #7daa50 100%) !important;
    background-image: linear-gradient(to bottom, #8ebf60 0, #7daa50 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8ebf60', endColorstr='#ff7daa50', GradientType=0) !important
}

.btn-app.btn-success:hover {
    background: #6c9842 !important;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#74a844), to(#648740)) !important;
    background-image: -webkit-linear-gradient(top, #74a844, 0%, #648740, 100%) !important;
    background-image: -moz-linear-gradient(top, #74a844 0, #648740 100%) !important;
    background-image: linear-gradient(to bottom, #74a844 0, #648740 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff74a844', endColorstr='#ff648740', GradientType=0) !important
}

.btn-app.btn-danger, .btn-app.btn-danger.no-hover:hover, .btn-app.btn-danger.disabled:hover {
    background: #d3413b !important;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#d55b52), to(#d12723)) !important;
    background-image: -webkit-linear-gradient(top, #d55b52, 0%, #d12723, 100%) !important;
    background-image: -moz-linear-gradient(top, #d55b52 0, #d12723 100%) !important;
    background-image: linear-gradient(to bottom, #d55b52 0, #d12723 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd55b52', endColorstr='#ffd12723', GradientType=0) !important
}

.btn-app.btn-light:hover {
    background: #b52c26 !important;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#c43a30), to(#a51f1c)) !important;
    background-image: -webkit-linear-gradient(top, #c43a30, 0%, #a51f1c, 100%) !important;
    background-image: -moz-linear-gradient(top, #c43a30 0, #a51f1c 100%) !important;
    background-image: linear-gradient(to bottom, #c43a30 0, #a51f1c 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc43a30', endColorstr='#ffa51f1c', GradientType=0) !important
}

.btn-app.btn-warning, .btn-app.btn-warning.no-hover:hover, .btn-app.btn-warning.disabled:hover {
    background: #ffb44b !important;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#ffbf66), to(#ffa830)) !important;
    background-image: -webkit-linear-gradient(top, #ffbf66, 0%, #ffa830, 100%) !important;
    background-image: -moz-linear-gradient(top, #ffbf66 0, #ffa830 100%) !important;
    background-image: linear-gradient(to bottom, #ffbf66 0, #ffa830 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffbf66', endColorstr='#ffffa830', GradientType=0) !important
}

.btn-app.btn-warning:hover {
    background: #fe9e19 !important;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#fa3), to(#fc9200)) !important;
    background-image: -webkit-linear-gradient(top, #fa3, 0%, #fc9200, 100%) !important;
    background-image: -moz-linear-gradient(top, #fa3 0, #fc9200 100%) !important;
    background-image: linear-gradient(to bottom, #fa3 0, #fc9200 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffaa33', endColorstr='#fffc9200', GradientType=0) !important
}

.btn-app.btn-purple, .btn-app.btn-purple.no-hover:hover, .btn-app.btn-purple.disabled:hover {
    background: #9889c1 !important;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#a696ce), to(#8a7cb4)) !important;
    background-image: -webkit-linear-gradient(top, #a696ce, 0%, #8a7cb4, 100%) !important;
    background-image: -moz-linear-gradient(top, #a696ce 0, #8a7cb4 100%) !important;
    background-image: linear-gradient(to bottom, #a696ce 0, #8a7cb4 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa696ce', endColorstr='#ff8a7cb4', GradientType=0) !important
}

.btn-app.btn-purple:hover {
    background: #7b68af !important;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#8973be), to(#6d5ca1)) !important;
    background-image: -webkit-linear-gradient(top, #8973be, 0%, #6d5ca1, 100%) !important;
    background-image: -moz-linear-gradient(top, #8973be 0, #6d5ca1 100%) !important;
    background-image: linear-gradient(to bottom, #8973be 0, #6d5ca1 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8973be', endColorstr='#ff6d5ca1', GradientType=0) !important
}

.btn-app.btn-pink, .btn-app.btn-pink.no-hover:hover, .btn-app.btn-pink.disabled:hover {
    background: #d54c7e !important;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#db5e8c), to(#ce3970)) !important;
    background-image: -webkit-linear-gradient(top, #db5e8c, 0%, #ce3970, 100%) !important;
    background-image: -moz-linear-gradient(top, #db5e8c 0, #ce3970 100%) !important;
    background-image: linear-gradient(to bottom, #db5e8c 0, #ce3970 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdb5e8c', endColorstr='#ffce3970', GradientType=0) !important
}

.btn-app.btn-pink:hover {
    background: #be2f64 !important;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#d2346e), to(#aa2a59)) !important;
    background-image: -webkit-linear-gradient(top, #d2346e, 0%, #aa2a59, 100%) !important;
    background-image: -moz-linear-gradient(top, #d2346e 0, #aa2a59 100%) !important;
    background-image: linear-gradient(to bottom, #d2346e 0, #aa2a59 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd2346e', endColorstr='#ffaa2a59', GradientType=0) !important
}

.btn-app.btn-inverse, .btn-app.btn-inverse.no-hover:hover, .btn-app.btn-inverse.disabled:hover {
    background: #444 !important;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#555), to(#333)) !important;
    background-image: -webkit-linear-gradient(top, #555, 0%, #333, 100%) !important;
    background-image: -moz-linear-gradient(top, #555 0, #333 100%) !important;
    background-image: linear-gradient(to bottom, #555 0, #333 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff333333', GradientType=0) !important
}

.btn-app.btn-inverse:hover {
    background: #2b2b2b !important;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#3b3b3b), to(#1a1a1a)) !important;
    background-image: -webkit-linear-gradient(top, #3b3b3b, 0%, #1a1a1a, 100%) !important;
    background-image: -moz-linear-gradient(top, #3b3b3b 0, #1a1a1a 100%) !important;
    background-image: linear-gradient(to bottom, #3b3b3b 0, #1a1a1a 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b3b3b', endColorstr='#ff1a1a1a', GradientType=0) !important
}

.btn-app.btn-grey, .btn-app.btn-grey.no-hover:hover, .btn-app.btn-grey.disabled:hover {
    background: #797979 !important;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#898989), to(#696969)) !important;
    background-image: -webkit-linear-gradient(top, #898989, 0%, #696969, 100%) !important;
    background-image: -moz-linear-gradient(top, #898989 0, #696969 100%) !important;
    background-image: linear-gradient(to bottom, #898989 0, #696969 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff898989', endColorstr='#ff696969', GradientType=0) !important
}

.btn-app.btn-grey:hover {
    background: #6c6c6c !important;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#7c7c7c), to(#5c5c5c)) !important;
    background-image: -webkit-linear-gradient(top, #7c7c7c, 0%, #5c5c5c, 100%) !important;
    background-image: -moz-linear-gradient(top, #7c7c7c 0, #5c5c5c 100%) !important;
    background-image: linear-gradient(to bottom, #7c7c7c 0, #5c5c5c 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7c7c7c', endColorstr='#ff5c5c5c', GradientType=0) !important
}

.btn.btn-app.btn-light {
    color: #5a5a5a !important;
    text-shadow: 0 1px 1px #EEE !important
}

.btn.btn-app.btn-light, .btn.btn-app.btn-light.no-hover:hover, .btn.btn-app.btn-light.disabled:hover {
    background: #ededed !important;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#f4f4f4), to(#e6e6e6)) !important;
    background-image: -webkit-linear-gradient(top, #f4f4f4, 0%, #e6e6e6, 100%) !important;
    background-image: -moz-linear-gradient(top, #f4f4f4 0, #e6e6e6 100%) !important;
    background-image: linear-gradient(to bottom, #f4f4f4 0, #e6e6e6 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4f4f4', endColorstr='#ffe6e6e6', GradientType=0) !important
}

.btn.btn-app.btn-light:hover {
    background: #e0e0e0 !important;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#e7e7e7), to(#d9d9d9)) !important;
    background-image: -webkit-linear-gradient(top, #e7e7e7, 0%, #d9d9d9, 100%) !important;
    background-image: -moz-linear-gradient(top, #e7e7e7 0, #d9d9d9 100%) !important;
    background-image: linear-gradient(to bottom, #e7e7e7 0, #d9d9d9 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe7e7e7', endColorstr='#ffd9d9d9', GradientType=0) !important
}

.btn.btn-app.btn-yellow {
    color: #963 !important;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4) !important
}

.btn.btn-app.btn-yellow, .btn.btn-app.btn-yellow.no-hover:hover, .btn.btn-app.btn-yellow.disabled:hover {
    background: #fee088 !important;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#ffe8a5), to(#fcd76a)) !important;
    background-image: -webkit-linear-gradient(top, #ffe8a5, 0%, #fcd76a, 100%) !important;
    background-image: -moz-linear-gradient(top, #ffe8a5 0, #fcd76a 100%) !important;
    background-image: linear-gradient(to bottom, #ffe8a5 0, #fcd76a 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffe8a5', endColorstr='#fffcd76a', GradientType=0) !important
}

.btn.btn-app.btn-yellow:hover {
    background: #fdd96e !important;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#ffe18b), to(#fbd051)) !important;
    background-image: -webkit-linear-gradient(top, #ffe18b, 0%, #fbd051, 100%) !important;
    background-image: -moz-linear-gradient(top, #ffe18b 0, #fbd051 100%) !important;
    background-image: linear-gradient(to bottom, #ffe18b 0, #fbd051 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffe18b', endColorstr='#fffbd051', GradientType=0) !important
}

.btn.btn-app.btn-sm {
    width: 80px;
    font-size: 16px;
    border-radius: 10px;
    line-height: 1.5
}

.btn.btn-app.btn-xs {
    width: 64px;
    font-size: 15px;
    border-radius: 8px;
    padding-bottom: 7px;
    padding-top: 8px;
    line-height: 1.45
}

.btn.btn-app > [class*=icon] {
    display: block;
    font-size: 42px;
    margin: 0 0 4px;
    line-height: 36px;
    min-width: 0;
    padding: 0
}

.btn.btn-app.btn-sm > [class*=icon] {
    display: block;
    font-size: 32px;
    line-height: 30px;
    margin: 0 0 3px
}

.btn.btn-app.btn-xs > [class*=icon] {
    display: block;
    font-size: 24px;
    line-height: 24px;
    margin: 0
}

.btn.btn-app.no-radius {
    border-radius: 0
}

.btn.btn-app.radius-4 {
    border-radius: 4px
}

.btn.btn-app > .badge, .btn.btn-app > .label {
    position: absolute !important;
    top: -2px;
    right: -2px;
    padding: 1px 3px;
    text-align: center;
    font-size: 12px
}

.btn.btn-app > .badge.badge-left, .btn.btn-app > .label.badge-left, .btn.btn-app > .badge.label-left, .btn.btn-app > .label.label-left {
    right: auto;
    left: -2px
}

.btn.btn-app > .label {
    padding: 1px 6px 3px;
    font-size: 13px
}

.btn.btn-app.radius-4 > .badge, .btn.btn-app.no-radius > .badge {
    border-radius: 3px
}

.btn.btn-app.radius-4 > .badge.no-radius, .btn.btn-app.no-radius > .badge.no-radius {
    border-radius: 0
}

.btn.btn-app.active {
    color: #fff
}

.btn.btn-app.active:after {
    display: none
}

.btn.btn-app.active.btn-yellow {
    color: #963;
    border-color: #fee188
}

.btn.btn-app.active.btn-light {
    color: #515151
}

.btn.btn-app.btn-light, .btn.btn-app.btn-yellow {
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08) inset !important;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08) inset !important
}